button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;

  &:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
  }

  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: 0;
  }
}

// BUTTONS
.btn-action-add {
  @include txt-body-medium;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;

  &::before {
    content: url('../../images/button-icon-plus.svg');
    height: 24px;
    width: 13.5px;
  }
}