.dropdown-filter {
  padding-left: 2rem;
  padding-top: 0;
  padding-right: 0.6rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  @include txt-body-medium;
  @include b-light-grey-1;
  position: relative;

  &:hover {
    @include b-light-grey-1;
  }

  &__label {
    padding-right: 3px;
  }

  &__option {
    @include txt-c-dark-blue;
    padding-right: 2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  &__arrow {
    content: url('../../images/dropdown-icon.svg');
    height: 40px;
    width: 26px;
    border-left: $b-light-grey-1;
    padding-left: 0.7rem;
  }

  &__list {
    position: absolute;
    top: 4rem;
    left: 0;
    padding: 1.5rem;
    background-color: $c-simple-white;
    border-radius: 10px;
    width: 100%;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    list-style: none;
    cursor: pointer;
    width: 100%;

    label {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}