.input-search {
  display: flex;
  align-items: center;
  position: relative; 

  &__label {
    @include txt-body-medium;
    line-height: 2.5rem;
    font-weight: 700;
    @include txt-c-dark-blue;
  }

  &__icon {
    content: url('../../images/input-search-icon.svg');
    height: 14px;
    width: 14px;
    position: absolute;
    left: 1.3rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    @include txt-body-medium;
    @include b-light-grey-1;
    padding-left: 3.8rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 36rem;

    &:focus {
      outline: none;
    }
  }
}