@mixin projectsTableGrid {
  display: grid;
  grid-template-columns: repeat(3, 2fr) repeat(3, 1fr);
  align-items: center;

  @include respond(tab-land) {
    grid-template-columns: repeat(6, 1fr);
  }

  @include respond(phone-land) {
    grid-template-columns: 1fr;
  }
}

.projects-table {
  flex: 1;
  background-color: $c-simple-white;
  padding: 2rem;
  border-radius: 2rem;

  &__heading {
    background-color: $c-dark-blue;
    @include projectsTableGrid();
    border-radius: 1rem;
    margin-bottom: 2rem;

    @include respond(phone-land) {
      display: none;
    }
  }

  &__column {
    padding: 1rem 1.5rem;
    @include txt-h4;
    @include txt-c-light-blue;
  }

  &__link {
    @include projectsTableGrid();
    border-radius: 1rem;

    @include respond(phone-land) {
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:not(:last-of-type) {
      @include respond(phone-land) {
        @include b-light-grey-1;
        padding-bottom: 2rem;
      }
    }

    &:active,
    &:hover {
      background-color: $c-light-blue;
    }
  }

  &__cell {
    padding: 1rem 1.5rem;
    @include txt-c-dark-blue;

    @include respond(phone-land) {
      .status {
        margin-top: 5px;
      }
    }
  }

  &__label {
    display: none;
    font-weight: $f-bold;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    @include txt-c-dark-blue;

    @include respond(phone-land) {
      display: block;
    }
  }
}
