.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__field,
  &__options {
    display: flex;
    align-items: center;
    column-gap: 3rem;
  }
}