@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// BORDERS
@mixin b-light-grey-1 {
  border: 1px solid $c-light-grey;
  border-radius: 7px;
}

// BACKGROUNDS
@mixin bg-c-light-blue {
  background-color: $c-light-blue;
}
.bg-c-light-blue { @include bg-c-light-blue; }

// SHADOWS
@mixin shadow-small {
  box-shadow: inset 0px -1px 0px 0.5px #E2E2EA;
}
.shadow-small { @include shadow-small; }

@mixin shadow-medium {
  box-shadow: 0px 10px 60px rgba($c-dark-blue, 0.1);
}
.shadow-medium { @include shadow-medium; }

// --- MEDIA QUERY MANAGER --- //

@mixin respond($breakpoint) {
    @if $breakpoint == phone-landscape {
        @media only screen and (max-width: 56.25em) and (max-height: 34.375em) { @content }; //900px and 550px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 34.375em) { @content };  //550px
    }
    @if $breakpoint == phone-land {
        @media only screen and (max-width: 56.25em) { @content };  //900px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 63.125em) { @content };  //1010px
    }
    @if $breakpoint == tab-land-small {
        @media only screen and (max-width: 70.625em) { @content };  //1130px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 78.125em) { @content };  //1250px
    }
    @if $breakpoint == smaller-desktop {
        @media only screen and (max-width: 87.5em) { @content };   //1400px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800px
    }    
}