// COLORS
$c-blue: #64C0EE; 
$c-dark-blue: #4672D6;
$c-light-blue: #F2F9FE;
$c-red: #FF6767;
$c-electric-green: #19E2BE;
$c-yellow: #FFE000;
$c-light-grey: #C7CBCF;
$c-smoke-grey: #F1F1F5;
$c-simple-white: #fff;

$c-typo-dark-black: #142222;
$c-typo-dark-blue: #002060; 

// FONTS:
$f-regular: 400;
$f-bold: 700;

$f-comfortaa: 'Comfortaa', cursive, sans-serif;

// BORDER
$b-light-grey-1: 1px solid $c-light-grey;