<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Functional and Affordable Prostheses">

    <title>macu4</title>

    <link rel="stylesheet" href="../assets/css/app.css">
</head>

<body class="">
  <header class="header ">
    <h1 class="txt-h1">Site Header Goes Here</h1>
    <div class="row shadow-small">
      <div class="search">
        <div class="search__field">
          <p class="input-search__label">Prosthesis users</p>
          <div class="input-search">
            <i class="input-search__icon"></i>
            <input type="text" name="userSearch" id="userSearch" class="input-search__input" placeholder="Search" />
          </div>
        </div>
        <div class="search__options">
          <button class="btn-action-add">Add User</button>
          <button class="dropdown-filter">
            <span class="dropdown-filter__label">Sort by: </span>
            <span class="dropdown-filter__option">Default</span>
            <span class="dropdown-filter__arrow"></span>
            <ul class="dropdown-filter__list">
              <li class="dropdown-filter__item">
                <label>All
                  <input type="checkbox">
                </label>
              </li>
              <li class="dropdown-filter__item">
                <label>Completed
                  <input type="checkbox">
                </label>
              </li>
              <li class="dropdown-filter__item">
                <label>Ordered
                  <input type="checkbox">
                </label>
              </li>
              <li class="dropdown-filter__item">
                <label>Done
                  <input type="checkbox">
                </label>
              </li>
            </ul>
          </button>
        </div>
      </div>

    </div>

  </header>

  <main>

    <div class="row bg-c-light-blue pt-2 pb-4 pl-4">
      <div class="projects-table">    
        <div class="projects-table__heading">
          <div class="projects-table__column">Prosthesis User ID</div>
          <div class="projects-table__column">Total Orders</div>
          <div class="projects-table__column">Active Orders</div>
          <div class="projects-table__column">Date Created</div>
        </div>  
        <a href=#" class="projects-table__link">
          <span class="projects-table__cell">
              <span class="projects-table__label">ID</span>
              <span class="status status--{{cell.value}}">1</span>                
          </span>
          <span class="projects-table__cell">
              <span class="projects-table__label">Orders</span>
              3
          </span>
        </a>
      </div>
    </div>

  </main>

  <footer id="footer" class="footer ">
    <h2 class="txt-h2">Site Footer Goes Here</h2>
  </footer>

  <script type="text/javascript" src="../assets/js/app.js"></script>

</body>
</html>