*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  @include txt-body-medium;
}

::selection {
  background-color: $c-blue;
  color: $c-smoke-grey;
}

.row {
  max-width: 160rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 4rem;
}