// TEXTS
@mixin txt-body-small {
  font-family: $f-comfortaa;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.txt-body-small { @include txt-body-small; }

@mixin txt-body-medium {
  font-family: $f-comfortaa;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}
.txt-body-medium { @include txt-body-medium; }

@mixin txt-body-big {
  font-family: $f-comfortaa;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.txt-body-big { @include txt-body-big; }

@mixin txt-body-strong {
  font-family: $f-comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.txt-body-strong { @include txt-body-strong; }

@mixin txt-h1 {
  font-family: $f-comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4rem;
}
.txt-h1 { @include txt-h1; }

@mixin txt-h2 {
  font-family: $f-comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.txt-h2 { @include txt-h2; }

@mixin txt-h3 {
  font-family: $f-comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}
.txt-h3 { @include txt-h3; }

@mixin txt-h4 {
  font-family: $f-comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}
.txt-h4 { @include txt-h4; }

// TEXT COLORS
@mixin txt-c-dark-black { color: $c-typo-dark-black; }
.txt-c-dark-black { @include txt-c-dark-black; }

@mixin txt-c-dark-blue { color: $c-typo-dark-blue; }
.txt-c-dark-blue { @include txt-c-dark-blue; }

@mixin txt-c-light-blue { color: $c-light-blue; }
.txt-c-light-blue { @include txt-c-light-blue; }